div.strong {
    padding: 1em 1em 1em 1em;
    margin: 1em 0;
    background-size: 60px;
    background-repeat: no-repeat;
    border-radius: 10px;
    background-position: 15px center;
    min-height: 50px;
    font-size: 15px;
    background-color: #fdf3dd;
    border: solid 1px #c78710;
  }
  
  div.check {
    padding: 1em 1em 1em 7em;
    margin: 1em 0;
    background-size: 60px;
    background-repeat: no-repeat;
    border-radius: 20px;
    background-position: 15px center;
    min-height: 50px;
    color: #000000;
    font-size: 15px;
    background-color: #DFFFDF;
    border: solid 5px #007500;
    background-image: url("./images/warning.png");
  }